<% provide(:title,@user.name) %>
<div class="row">
	<div class="col-md-5">
	<aside>
		<section>
			<h1>
			<%= gravatar_for  @user  %>
			<%= @user.name %>,<%= @user.email %>
			</h1>
		</section>
	</aside>
	</div>
	<div class="col-md-7 ">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.microposts.any? %>
		  <h3 class="center"> Microposts <%=  @user.microposts.count %></h3>
		  <ol class="microposts">
		  	<%=render @microposts %>
		  </ol>
		  <%= will_paginate @microposts %>
		<% end %>	
	</div>

</div>