<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<img alt="滨文苑" src="...">
			</a>
		</div>
		<ul class="nav navbar-nav pull-right">
			<li><%= link_to "首页",home_path %></li>
			<li><%= link_to "帮助",help_path %></li>
			<% if signed_in? %>
			<li><%= link_to '用户',users_path %></li>
			<li id="fat-menu" class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					账户 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li role="presentation"><%= link_to "个人资料", current_user %></li>
					<li role="presentation"><%= link_to "设置", edit_user_path(current_user) %></li>
					<li role="presentation" class="divider"></li>
					<li>
						<%= link_to "退出", signout_path, method: "delete" %>
					</li>
				</ul>
			</li>
			<% else %>
			<li><%= link_to "登录",signin_path %></li>
			<% end %>
			<li><%= link_to "注册",signup_path %></li>
		</ul>
	</div>
</nav>