<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>
	<body>
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img alt="滨文苑" src="...">
					</a>
				</div>
				<ul class="nav navbar-nav pull-right">
					<li><%= link_to "首页",home_path %></li>
					<li><%= link_to "帮助",help_path %></li>
					<li><%= link_to "登录","#" %></li>
					<li><%= link_to "注册","#" %></li>
				</ul>
			</div>
		</nav>
		<div class="container" >
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>